html,
body,
#root {
  height: 100%;
  width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  height: 100%;
  width: 100%;

  > .main-search-container {
    vertical-align: top;
    margin: 10vh auto 0;
  }
}

.search-input-display {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  font-size: 1.1rem;

  & > &-status {
    font-size: 0.7rem;
    margin-left: auto;
  }
}
